/* Styling for the start game button */
.start-game-button {
    position: flex;
    font-size: 1.2em;
    padding: 1em 3em;
    border-radius: 2em;
    box-shadow: 0 1em 3em rgba(37, 22, 80, 0.3);
    background-color: #CA7D86;
}

/* Hover styling for the start game button */
.start-game-button:hover {
    background-color: #B8515D;
}